section.novoprojeto_container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
	width: 450px;
}

.novoprojeto_container h1 {
	margin-bottom: 0.5em;
}

.novoprojeto_container p {
	color: #7b7b7b;
}
